<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="l-left" th:fragment="left(activ)">
    <a class="toggle-menu topm1" href="#"><i class="material-icons">menu</i></a>
    <a class="logo-menu" href="javascript:window.location.href=window.location.href">Admin Panel</a>
    <div class="menu">
        <a href="/admin-home" th:class="${activ}=='1'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_home-1.svg}">
            Admin Home
        </a>
        <a href="/admin-movies" th:class="${activ}=='2'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_products-1.svg}">
            Movies
        </a>
        <a href="/admin-rooms" th:class="${activ}=='3'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_Invoices-1.svg}">
            Cinema Rooms
        </a>
        <a href="/admin-program" th:class="${activ}=='4'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_calendar-1.svg}">
            Program
        </a>
        <a href="/admin-users" th:class="${activ}=='5'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_customers-1.svg}">
            Users
        </a>
        <a href="/home" th:class="menu-item">
            <img alt="" class="ico" th:src="@{/icons/icon_home-1.svg}">
            Back To Normal Home
        </a>
    </div>
</div>
<div class="top-bar" th:fragment="top-bar(user)">
    <form action="" class="left">
        <a class="toggle-menu topm2" href="#"><i class="material-icons">menu</i></a>
        <img alt="" class="icon" th:src="@{/icons/icon_search.svg}">
        <input class="Search" id="input_search" placeholder="Search" type="text">
    </form>

        <div class="right"  th:fragment="right(user)">
            <img alt="" class="notif-ico" th:src="@{/icons/icon_notification.svg}">

            <span th:text="${user.getUsername()}" class="user-menu"></span>
            <div class="dropdown">
                <button onclick="myFunction('myDropdown')" class="dropbtn dropbtn1">
                    <img alt="" class="arrow" th:src="@{/icons/icon_down-arrow-small.svg}">
                    <div id="myDropdown" class="dropdown-content dropdown-content1" style="right: 0px;">
                        <a href="/settings"><i class="fas fa-cog" style="color:#42425d "></i>Settings</a>
                        <a href="disconnect"><i class="fas fa-sign-out-alt" style="color:#42425d "></i>Logout</a>
                    </div>
                </button>

            </div>

    </div>
</div>
</body>
</html>