<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{//use.fontawesome.com/releases/v5.8.2/css/all.css}">
    <link th:href="@{//www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
    <link media="screen" rel="stylesheet" type="text/css" th:href="@{/stylesheets/adminProgram.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/stylesheets/adminMenu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/comm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dropDownNotification.css}">

    <title>MyCinema Admin Panel | Program</title>
</head>
<body>
<div class="layout">
    <div th:replace="AdminCommon.html :: left(${4})"></div>
    <div class="l-right">
        <div th:replace="AdminCommon.html :: top-bar(${user})"></div>
        <div class="main">
            <h2 class="title">Program</h2>
            <div class="alert alert-danger" th:each="message : ${errorMessages}" th:text="${message}"></div>
            <div class="alert alert-success" th:each="message: ${successfulMessages}" th:text="${message}"></div>
            <div class="main-container">
                <form th:action="@{/admin-delete-program}" method="POST">
                    <div class="buttons-top">
                        <button class="buttons-program" id="button-add" type="button" onclick="location.href='/admin-add-program'">Add Program</button>
                        <button class="buttons-program" id="button-delete" type="submit">Delete Program</button>
                    </div>
                    <table class="table-of-programs">
                        <tr>
                            <th>Number</th>
                            <th>Title</th>
                            <th>Room</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Delete</th>
                        </tr>
                        <th:block th:each="screening, iterStat :${screenings}">
                            <tr th:if="${screening.getMovie() != null} && ${screening.getRoom() != null}">
                                <td th:text="${iterStat.count}"></td>
                                <td th:text="${screening.getMovie().getTitle()}"></td>
                                <td th:text="${screening.getRoom().getName()}"></td>
                                <td th:text="${screening.getDate()}"></td>
                                <td th:text="${screening.getTime()}"></td>
                                <td><input type="checkbox" class="check-for-delete" th:name="program-ids"
                                           th:value="${screening.getId()}"/></td>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{//code.jquery.com/jquery-3.3.1.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
<script th:src="@{/scripts/adminProgram.js}"></script>
<script th:src="@{/scripts/buttonAccount.js}"></script>
<script th:src="@{/scripts/alert.js}"></script>
<script th:src="@{/scripts/dropDownNotification.js}"></script>
</html>