<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{//use.fontawesome.com/releases/v5.8.2/css/all.css}">
    <link th:href="@{//www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
    <link media="screen" rel="stylesheet" type="text/css" th:href="@{/stylesheets/adminMenu.css}">
    <link media="screen" rel="stylesheet" type="text/css" th:href="@{/stylesheets/adminUsersEdit.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/comm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dropDownNotification.css}">
    <script th:src="@{/scripts/buttonAccount.js}"></script>
    <title>MyCinema Admin Panel | Edit User</title>
</head>
<body>
<div class="layout">
    <div th:replace="AdminCommon.html :: left(${5})"></div>
    <div class="l-right">
        <div th:replace="AdminCommon.html :: top-bar(${user})"></div>
        <div class="main">
            <h2 class="title" th:text="'Admin | Edit user: ' + ${userForEdit.getUsername()}"></h2>
            <div class="alert alert-danger" th:each="message : ${errorMessages}" th:text="${message}"></div>
            <div class="main-container">
                <form th:action="@{/admin-change-user-information}" method="post" enctype="multipart/form-data">
                    <div class="buttons-top">
                        <button class="buttons-users" type="submit">Save</button>
                        <input class="buttons-users" type="button" onclick="location.href='/admin-users'"
                               value="Discard"/>
                    </div>
                    <div class="row-container">
                        <div class="main-panel">
                            <p>Current First Name:</p>
                            <input type="text" disabled name="old-user-first-name"
                                   th:value="${userForEdit.getFirstName()}">
                            <p>Current Last Name:</p>
                            <input type="text" disabled name="old-user-last-name"
                                   th:value="${userForEdit.getLastName()}">
                            <p>Current Email:</p>
                            <input type="text" disabled name="old-user-email" th:value="${userForEdit.getEmail()}">
                            <p>Current Phone number:</p>
                            <input type="text" disabled name="old-user-phone-number"
                                   th:value="${userForEdit.getPhoneNumber()}">
                            <p>Current Profile image:</p>
                            <img id="avatar-image" th:src="@{${userForEdit.getAvatarImagePath()}}">
                        </div>
                        <div class="main-panel">
                            <p>New First Name:</p>
                            <input type="text" th:name="newFirstName">
                            <p>New Last Name:</p>
                            <input type="text" th:name="newLastName">
                            <p>New Email:</p>
                            <input type="text" th:name="newEmail">
                            <p>New Phone number:</p>
                            <input type="text" th:name="newPhoneNumber">
                            <p>New Profile image:</p>
                            <input type="file" th:name="newImageFile" accept="image/*"/>
                            <input hidden type="text" th:name="userId" th:value="${userForEdit.getId()}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script th:src="@{//code.jquery.com/jquery-3.3.1.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
<script th:src="@{/scripts/dropDownNotification.js}"></script>
<script th:src="@{/scripts/alert.js}"></script>
</body>
</html>