<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">

        <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}" rel="stylesheet">
        <link th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
        <link th:href="@{//www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
        <link media="screen" rel="stylesheet" type="text/css" href="../static/stylesheets/adminRooms.css" th:href="@{/stylesheets/adminRooms.css}">

        <title>MyCinema Admin Panel | Rooms</title>
    </head>
    <body>
        <div class="layout">
            <div th:replace="AdminCommon.html :: left(${3})"></div>
            <div class="l-right">
                <div th:replace="AdminCommon.html :: div.top-bar"></div>
                <div class="main">
                    <h2 class="title">Rooms</h2>
                    <div class="main-container">
                        <form th:action="@{/admin-delete-rooms}" method="POST">
                            <div class="buttons-top">
                                <button class="buttons-room" id="button-add" type="button">Add Room</button>
                                <button class="buttons-room" id="button-delete" type="submit">Delete Room</button>
                            </div>
                            <table class="table-of-rooms">
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Delete</th>
                                    <th>Modify</th>
                                </tr>
                                <th:block th:each="room, iterStat :${rooms}">
                                    <tr>
                                        <td th:text="${iterStat.count}">Number</td>
                                        <td th:text="${room.getName()}">Name</td>
                                        <td><img th:src="@{'/images/' + ${room.getImagePath()}}"/></td>
                                        <td><input type="checkbox" class="check-for-delete" th:name="room-ids" th:value="${room.getId()}"/></td>
                                        <td><a class="button-edit" th:href="@{/admin-edit-room(id=${room.getId()})}">Edit</a></td>
                                    </tr>
                                </th:block>
                            </table>
                        </form>
                        <form th:action="@{/admin-add-room}" method="POST">
                            <div class="modal-form-add">
                                <div class="modal-form-content">
                                    <span class="close-button">&times;</span>
                                    <div class="modal-form-items">
                                        <h1>Add Room</h1>
                                        <div class="modal-form-inputs">
                                            <p>Room Name:</p>
                                            <input type="text" required th:name="room-name">
                                            <p>Room Image:</p>
                                            <input type="file" required th:name="room-image-path">
                                        </div>
                                        <button class="buttons-room" id="modal-button-add" type="submit">Add Room</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script th:src="@{//code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
        <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
        <script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
        <script th:src="@{/scripts/script.js}"></script>
        <script th:src="@{/scripts/adminRooms.js}"></script>
    </body>
</html>