<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{//use.fontawesome.com/releases/v5.8.2/css/all.css}">
    <link th:href="@{//www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
    <link media="screen" rel="stylesheet" type="text/css" th:href="@{/stylesheets/adminMenu.css}">
    <link media="screen" rel="stylesheet" type="text/css" th:href="@{/stylesheets/adminUsers.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/comm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dropDownNotification.css}">

    <title>MyCinema Admin Panel | Users</title>
</head>
<body>
<div class="layout">
    <div th:replace="AdminCommon.html :: left(${5})"></div>
    <div class="l-right">
        <div class="top-bar">
            <form action="/admin-users" class="left">
                <a class="toggle-menu topm2" href="#"><i class="material-icons">menu</i></a>
                <img alt="" class="icon" th:src="@{/icons/icon_search.svg}">
                <input class="Search" id="input_search" th:name="username"
                       th:placeholder="${!currentUsername.equals('')} ? ${currentUsername} : 'Search'" type="text">
            </form>
            <div th:replace="AdminCommon.html :: right(${user})"></div>
        </div>
        <div class="main">
            <h2 class="title">Admin | Users</h2>
            <div class="alert alert-danger" th:each="message : ${errorMessages}" th:text="${message}"></div>
            <div class="alert alert-success" th:each="message : ${successfulMessages}" th:text="${message}"></div>
            <div class="main-container">
                <form th:action="@{/delete-selected-users}" method="post">
                    <div class="buttons-top">
                        <button disabled class="buttons-user" id="button-delete" type="submit">Delete user</button>
                    </div>
                    <table class="table-of-users">
                        <tr>
                            <th>Number</th>
                            <th>UserName</th>
                            <th>Profile Image</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>E-mail</th>
                            <th>Phone Number</th>
                            <th>Delete</th>
                            <th>Modify</th>
                        </tr>
                        <tr th:each="user, iterator : ${users}">
                            <td th:text="${iterator.count}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td><img th:src="${user.getAvatarImagePath()}"/></td>
                            <td th:text="${user.getFirstName()}"></td>
                            <td th:text="${user.getLastName()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${user.getPhoneNumber()}"></td>
                            <td><input type="checkbox" class="check-for-delete" th:name="usersForDelete"
                                       th:value="${user.getId()}"/></td>
                            <td><a class="button-edit" th:href="@{/admin-edit-user(userId=${user.getId()})}">Edit</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/scripts/buttonAccount.js}"></script>
<script th:src="@{//code.jquery.com/jquery-3.3.1.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
<script th:src="@{/scripts/adminUsers.js}"></script>
<script th:src="@{/scripts/dropDownNotification.js}"></script>
<script th:src="@{/scripts/alert.js}"></script>
</body>
</html>