<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{//www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
    <link media="screen" rel="stylesheet" type="text/css" href="../static/stylesheets/adminMenu.css"
          th:href="@{/stylesheets/adminMenu.css}">
    <link media="screen" rel="stylesheet" type="text/css" href="../static/stylesheets/adminRoomsAdd.css"
          th:href="@{/stylesheets/adminRoomsAdd.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script th:src="@{/scripts/buttonAccount.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/comm.css}">

    <title>MyCinema Admin Panel | Add Room</title>
</head>
<body>
<div class="layout">
    <div th:replace="AdminCommon.html :: left(${3})"></div>
    <div class="l-right">
        <div th:replace="AdminCommon.html :: top-bar(${user})"></div>
        <div class="main">
            <h2 class="title">Admin | Add Room</h2>
            <div class="alert alert-danger" th:each="message : ${errorMessages}" th:text="${message}"></div>
            <div class="add-room-div">
                <form class="add-room-form" th:action="@{/admin-add-room-submit}" method="post" enctype="multipart/form-data">
                    <p>Room Name</p>
                    <input type="text" required th:name="room-title">
                    <p>Room Image | 1</p>
                    <input type="file" accept="image/*" required th:name="room-image-1">
                    <p>Room Image | 2</p>
                    <input type="file" accept="image/*" required th:name="room-image-2">
                    <p>Room Image | 3</p>
                    <input type="file" accept="image/*" required th:name="room-image-3">
                    <p>Room Image | 4</p>
                    <input type="file" accept="image/*" required th:name="room-image-4">
                    <button class="buttons-rooms" id="modal-button-add" type="submit">Add Room</button>
                    <button class="buttons-rooms" type="button" onclick="location.href='/admin-rooms'">Back to Rooms</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{//code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
<script th:src="@{/scripts/alert.js}"></script>

</html>