<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}" type="text/css" rel="stylesheet"
          media="screen"/>
    <link th:href="@{//www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
    <link media="screen" rel="stylesheet" type="text/css" th:href="@{/stylesheets/timingfield.css}">
    <link media="screen" rel="stylesheet" type="text/css" th:href="@{/stylesheets/adminMenu.css}">
    <link media="screen" rel="stylesheet" type="text/css" th:href="@{/stylesheets/adminMovieAdd.css}">

    <title>MyCinema Admin Panel | Add Movie</title>
</head>
<body>
<div class="layout">
    <div th:replace="AdminCommon.html :: left(${2})"></div>
    <div class="l-right">
        <div th:replace="AdminCommon.html :: top-bar(${user})"></div>
        <div class="main">
            <h2 class="title">Admin | Add Movie</h2>
            <div class="alert alert-danger" th:each="message : ${errorMessages}" th:text="${message}"></div>
            <div class="add-movie-div">
                <form class="add-movie-form" th:action="@{/admin-add-movie-submit}" method="post" enctype="multipart/form-data">
                    <p>Movie Name</p>
                    <input type="text" required th:name="movie-title">
                    <p>Movie Price</p>
                    <input type="text" required th:name="movie-price">
                    <p>Movie Duration</p>
                    <input type="text" class="timing" th:name="movie-seconds"/>
                    <p>Movie Image</p>
                    <input type="file" accept="image/*" required th:name="movie-image">
                    <button class="buttons-movie" id="modal-button-add" type="submit">Add Movie</button>
                    <button class="buttons-movie" type="button" onclick="location.href='/admin-movies'">Back to
                        Movies
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{//code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
<script th:src="@{/scripts/timingfield.js}"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".timing").timingfield();
    });
</script>
<script th:src="@{/scripts/alert.js}"></script>
</html>