<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>My Cinema | Cinema Rooms</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{https://www.w3schools.com/w3css/4/w3.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon(family=Material+Icons)}">
    <script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
    <script th:src="@{http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js}"></script>
    <script th:src="@{/scripts/cinema-rooms.js}"></script>
    <link media="screen" rel="stylesheet" th:href="@{/stylesheets/cinema-rooms.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/comm.css}">

</head>

<body>

<div class="layout">
    <div th:replace="common.html :: left(${4}, ${user})"></div>
    <div class="l-right">

        <div class="top-bar" th:fragment="top(user)">
            <form action="#" class="left" id="search" name="search">
                <a class="toggle-menu topm2" href="#"><i class="material-icons">menu</i></a>
                <img alt="" class="icon" th:src="@{/icons/icon_search.svg}">
                <input class="Search" id="input_search" placeholder="Search" onkeyup="search_func()" type="text">

            </form>
            <div class="right">
                <img alt="" class="notif-ico" th:src="@{/icons/icon_notification.svg}">

                <span th:text="${user.getUsername()}" class="user-menu"></span>
                <div class="dropdown">
                    <button onclick="myFunction('myDropdown')" class="dropbtn dropbtn1">
                        <img alt="" class="arrow" th:src="@{/icons/icon_down-arrow-small.svg}">
                        <div id="myDropdown" class="dropdown-content dropdown-content1" style="right: 0px;">
                            <a href="/settings"><i class="fas fa-cog" style="color:#42425d "></i>Settings</a>
                            <a href="disconnect"><i class="fas fa-sign-out-alt" style="color:#42425d "></i>Logout</a>
                        </div>
                    </button>

                </div>
            </div>
        </div>

        <div class="main">
            <h2 class="title">Cinema Rooms</h2>

            <div class="cinema-rooms-grid-container" id="list_rooms">
                <div class="cinema-room" th:each="room : ${rooms}">
                    <h5 th:text="${room.getName()}"></h5>
                    <div class="slider-container w3-content w3-display-container">
                        <img th:each="index : ${#numbers.sequence(1, room.getNumberOfImages())}" class="slide"
                             th:src="@{'/images/cinema-rooms/' + ${room.getId()} +  '/' + ${index} + '.jpg'}">
                        <div class="badges-container w3-center w3-container w3-large w3-text-white w3-display-bottommiddle">
                            <span class="w3-badge badge w3-hover-white"
                                  th:each="index : ${#numbers.sequence(1, room.getNumberOfImages())}">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script th:src="@{/scripts/buttonAccount.js}"></script>
<script th:src="@{/scripts/searchCinema.js}"></script>
</body>

</html>