<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css">
</head>
<body>
<div class="l-left" th:fragment="left(activ)">
    <a class="toggle-menu topm1" href="#"><i class="material-icons">menu</i></a>
    <a class="logo-menu" href="home">My Cinema</a>
    <div class="menu">
        <a href="home" th:class="${activ}=='1'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_home-1.svg}">
            Home
        </a>
        <a href="statistics" th:class="${activ}=='2'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_dashboard-1.svg}">
            Statistics
        </a>
        <a href="movies" th:class="${activ}=='3'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_products-1.svg}">
            Movies
        </a>
        <a href="cinema-rooms" th:class="${activ}=='4'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_Invoices-1.svg}">
            Cinema Rooms
        </a>
        <a href="program" th:class="${activ}=='5'?'menu-item active':'menu-item'">
            <img alt="" class="ico" th:src="@{/icons/icon_calendar-1.svg}">
            Program
        </a>
        <a th:class="${activ}=='6'?'menu-item active':'menu-item'" th:href="@{/settings}">
            <img alt="" class="ico" th:src="@{/icons/icon_setting.svg}">
            Settings
        </a>
    </div>
</div>

<div class="top-bar">
    <form action="" class="left">
        <a class="toggle-menu topm2" href="#"><i class="material-icons">menu</i></a>
        <img alt="" class="icon" th:src="@{/icons/icon_search.svg}">
        <input class="Search" id="input_search" placeholder="Search" type="text">
    </form>
    <div class="right">
        <img alt="" class="notif-ico" th:src="@{/icons/icon_notification.svg}">

        <!--                <a class="user-menu" href="/settings">-->
        <span th:each="u: ${#httpServletRequest.getCookies()}" th:if="${u.getName().equals('user')}"
              th:text="${u.getValue()}"></span>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">
                <img alt="" class="arrow" th:src="@{/icons/icon_down-arrow-small.svg}">
                <div id="myDropdown" class="dropdown-content" style="right: 0px;">
                    <a href="/settings">Settings</a>
                    <a href="disconnect">Disconnect</a>
                </div>
            </button>
        </div>
    </div>
</div>


</body>
</html>