<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/stylesheets/error500.css}" type="text/css">
    <meta charset="UTF-8">
    <title>Error 500</title>
</head>
<body>
<div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
    <spaguetti>
        <fork></fork>
        <meat></meat>
        <pasta></pasta>
        <plate></plate>
    </spaguetti>
</div>
<script th:src="@{/scripts/error5.js}">
</script>
</body>
</html>