<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyCinema</title>
    <link href="../static/stylesheets/ForgotPassword.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>


<body>
<div class="image-container"></div>
<div class="flex-white-container"></div>
<div class="white-contanier">
    <div class="title-container"> My Cinema</div>
    <div class="subtitle-container">Enter your email to receive the password reset link.</div>
    <form>
        <input id="email" placeholder="E-mail" type="text">
        <div class="button-container">
            <div class="button">Send E-mail</div>
        </div>

    </form>
</div>


</div>
<div class="flex-white-container"></div>
</body>