<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MyCinema</title>
    <link rel="stylesheet" th:href="@{stylesheets/ForgotPassword.css}">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>


<body>
<div class="image-container"></div>
<div class="flex-white-container"></div>
<div class="white-contanier">
    <div class="title-container"> My Cinema</div>
    <div class="subtitle-container">Enter your email to receive the password reset link.</div>
    <!--/*@thymesVar id="Reset" type="App.Contoller.Dao.Reset"*/-->
    <form action="#" method="post" th:action="@{/reset}" th:object="${Reset}">
        <input id="email" placeholder="E-mail" th:field="*{email}" type="text">
        <div class="button-container">
            <input class="button" type="submit" value="Send E-mail">
        </div>

    </form>
</div>


<div class="flex-white-container"></div>
</body>
</html>