<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MyCinema</title>
    <link rel="stylesheet" th:href="@{stylesheets/ForgotPassword.css}">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>


<body>
<div class="image-container"></div>
<div class="flex-white-container"></div>
<div class="white-contanier">
    <div class="title-container"> My Cinema</div>
    <div class="subtitle-container">Enter your email to receive the password reset link.</div>
    <!--/*@thymesVar id="Reset" type="app.controller.dao.Reset"*/-->
    <form id="myform" name="myform" action="#" method="post" th:action="@{/reset}" th:object="${Reset}">
        <div id="feedback" style="display: none">

            <h4 style="color: red">
                <i class="fas fa-times" style="color: red;text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i>
                Email not found in database.
            </h4>
        </div>
        <input id="email" placeholder="E-mail" th:field="*{email}" type="text">

        <div class="g-recaptcha col-sm-5"
             th:attr="data-sitekey=${captcha.getPublicKey()}"></div>


        <span id="captchaError" class="alert alert-danger col-sm-4"
              style="display:none" ></span>
        <div class="checkbox-forgpass-container">
            <a class="forgot-password-container" href="/Login"> Back to login</a>

        </div>
        <div class="button-container">
            <input class="button" id="btn-login" type="submit" value="Send E-mail">
        </div>

    </form>
</div>


<div class="flex-white-container"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>


    $("#myform").submit(function (event) {


        //stop submit the form event.
        event.preventDefault();

        var reset = {}
        reset["email"] = $("#email").val();

        $("#btn-login").prop("disabled", true);

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/reset",
            data: JSON.stringify(reset),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                console.log(data);
                if (data.msg == '200') {
                    $("#myform").unbind('submit');
                    document.myform.submit();


                } else {
                    // var json = "<h4>Your password or email is wrong."+data+"</h4>";
                    // $('#feedback').html(json);
                    var x = document.getElementById("feedback");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    }


                }
                // JSON.stringify(data, null, 4);


                $("#btn-login").prop("disabled", false);

            },
            error: function (e) {

                var json = "<h4>Ajax Response Error</h4><pre>"
                    + e.responseText + "</pre>";
                $('#feedback').html(json);

                console.log("ERROR : ", e);
                $("#btn-login").prop("disabled", false);

            }
        });

    });


    $("#email").click(function () {
        if ($("#feedback").css('display') == 'block') {
            $("#feedback").css('display', 'none');
        }
    });

</script>
</body>
</html>