<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}" rel="stylesheet">
    <link th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{//www.w3schools.com/w3css/4/w3.css}" rel="stylesheet">
    <link media="screen" rel="stylesheet" type="text/css" href="../static/stylesheets/styleHome.css" th:href="@{/stylesheets/styleHome.css}">


    <title>MyCinema | Home</title>
</head>
<body>
<div class="layout">
    <div th:replace="common.html :: div.l-left"></div>

    <div class="l-right">
        <div th:replace="common.html :: div.top-bar"></div>


        <div class="main">
            <h2 class="title">Home</h2>

            <div class="card">
                <div class="card-body">
                    <h3 class="title">MyCinema</h3>
                    <div class="big-container">
                        <div class="cinema-slide-show">
                            <div class="slide">
                                <div id="first-slide">
                                    <img class="slide-image" th:src="@{/images/cinema-room-1-1.jpg}">
                                    <div class="slide-text">Outside1</div>
                                </div>
                            </div>
                            <div class="slide">
                                <img class="slide-image" th:src="@{/images/cinema-room-1-2.jpg}">
                                <div class="slide-text">Outside2</div>
                            </div>
                            <div class="slide">
                                <img class="slide-image" th:src="@{/images/cinema-room-2-1.jpg}">
                                <div class="slide-text">Inside1</div>
                            </div>
                            <div class="slide">
                                <img class="slide-image" th:src="@{/images/cinema-room-2-2.jpg}">
                                <div class="slide-text">Inside2</div>
                            </div>
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            <br>
                            <div style="text-align:center">
                                <span class="dot" onclick="currentSlide(1)"></span>
                                <span class="dot" onclick="currentSlide(2)"></span>
                                <span class="dot" onclick="currentSlide(3)"></span>
                                <span class="dot" onclick="currentSlide(4)"></span>
                            </div>
                        </div>
                        <div id="cinema-articles">
                            <div id="article1">
                                <h4 class=title-article>IMAX</h4>
                                <p class="p-title">IMAX - EXPERIENȚA CINEMATOGRAFICĂ DINCOLO DE LIMITELE IMAGINAȚIEI

                                </p>
                                <p class="p-text">

                                    IMAX este cea mai avansată tehnologie disponibilă publicului – prin care te simți în
                                    mijlocul acțiunii. Ecranul imens te transpune într-o altă galaxie, iar sunetul care
                                    zguduie pământul o te facă să îți bată inima mai repede, incat vei trăi o experiență
                                    cinematografică de neuitat.
                                </p>
                            </div>
                            <div id="article2">
                                <h4 class=title-article>4DX</h4>
                                <p class="p-title">
                                    SIMTE PUTEREA CINEMATOGRAFULUI
                                </p>
                                <p class="p-text">
                                    Sala 4DX® este un loc unde filmul devine realitate. 4DX® este o tehnologie
                                    revoluționară, prima de acest fel din lume, pentru proiectarea celor mai mari
                                    producții de filme de la Hollywood in format 4D. Scaunele mobile și soluțiile
                                    ambientale de ultimă oră vor oferi spectatorilor o experiență cinematografică
                                    extremă care este plină de efecte speciale și care permite publicului sǎ devinǎ
                                    parte din film.
                                </p>
                            </div>
                            <div id="article3">
                                <h4 class=title-article>VIP</h4>
                                <p class="p-title">
                                    VIP - DIN DRAGOSTE PENTRU CINEMA
                                </p>
                                <p class="p-text">
                                    Iubim filmele și, mai presus de orice, iubim să le vedem pe marele ecran. Departe de
                                    viețile atât de aglomerate și zgomotoase, în care suntem mereu grăbiți și obosiți,
                                    în sala de cinema ne deconectăm și pătrundem într-o lume specială, a cărei magie
                                    este reînnoită cu fiecare inovație tehnologică sau nou format de vizionare. Iar
                                    odată cu noul concept VIP de la Cinema City ParkLake - cină și film-, ești
                                    transformat chiar tu, spectatorul, în personajul principal.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{//code.jquery.com/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
<script th:src="@{/scripts/home.js}"></script>
</body>
</html>