<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i}">
    <link rel="stylesheet" type="text/css"
          th:href="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{//fonts.googleapis.com/icon?family=Material+Icons}">
    <link rel="stylesheet" th:href="@{//use.fontawesome.com/releases/v5.8.2/css/all.css}">
    <link rel="stylesheet" href="../static/stylesheets/movies.css" th:href="@{/stylesheets/movies.css}" type="text/css">
    <link rel="stylesheet" href="../static/stylesheets/style.css" th:href="@{/stylesheets/style.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/comm.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/dropDownNotification.css}">
    <title>MyCinema | Movies</title>

</head>

<body>

<div class="layout">
    <div th:replace="common.html :: left(${3}, ${user})"></div>
    <div class="l-right">


        <div class="top-bar">
            <form action="#" class="left" id="search" name="search">
                <a class="toggle-menu topm2" href="#"><i class="material-icons">menu</i></a>
                <img alt="" class="icon" th:src="@{/icons/icon_search.svg}">
                <input class="Search" id="input_search" placeholder="Search" onkeyup="search_func()" type="text">

            </form>
            <div class="right">
                <div class="dropdown notif-ico-cnt">
                    <a href="#" data-toggle="dropdown">
                        <img th:src="@{/icons/icon_notification.svg}" alt="" class="notif-ico">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right movies-dropdown" style="width: 240px;">
                        <div class="list-group" id="booked-movies-list">
                        </div>
                    </div>
                </div>

                <span th:text="${user.getUsername()}" class="user-menu"></span>
                <div class="dropdown">
                    <button onclick="myFunction('myDropdown')" class="dropbtn dropbtn1">
                        <img alt="" class="arrow" th:src="@{/icons/icon_down-arrow-small.svg}">
                        <div id="myDropdown" class="dropdown-content dropdown-content1" style="right: 0px;">
                            <a href="/settings"><i class="fas fa-cog" style="color:#42425d "></i>Settings</a>
                            <a href="disconnect"><i class="fas fa-sign-out-alt" style="color:#42425d "></i>Logout</a>
                        </div>
                    </button>

                </div>
            </div>

        </div>
        <div class="body-main">
            <p id="movies-title">Movies</p>

            <div class="movies-body" id="list_movie">
                <th:block th:each="movie:${listOfMovies}">
                    <form action="#" method="get" th:action="@{/program}">
                        <input type="hidden" name="day" th:value="-1"/>
                        <input type="hidden" name="idMovie" th:value="${movie.getId()}"/>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="movies-data-show">
                                    <!--                                    <div class="movie-image"th:style="'background: url(' + ${movie.getPath()} + '); + background-repeat: no-repeat; background-size: 100% 100%;'"></div>-->
                                    <div class="movie-image"
                                         th:style="'background-image: url(' + ${movie.getPath()} + ')'"></div>
                                    <div class="movie-info" style="right: 0px;left: 0px;">
                                        <div class="movie-name">
                                            <p style="font-size: 130%" th:text="${movie.getTitle()}">Terminator 3</p>
                                        </div>
                                        <div class="movie-price">
                                            <p th:text="${'LEI ' +movie.getPrice()}"></p>
                                        </div>
                                        <div class="movie-book-now">
                                            <button class="movie-button-book-now" type="submit">Book now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </th:block>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <iframe id="iframeYoutube" width="560" height="315" src="https://www.youtube.com/embed/e80BbX05D7Y"
                        frameborder="0" allowfullscreen></iframe>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/scripts/buttonAccount.js}"></script>

<script th:src="@{//code.jquery.com/jquery-3.3.1.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/scripts/script.js}"></script>
<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
<script th:src="@{/scripts/dropDownNotification.js}"></script>
<script th:src="@{/scripts/searchMovie.js}"></script>

</body>
</html>