<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheets/style.css" th:href="@{/stylesheets/style.css}" type="text/css">
    <link rel="stylesheet" href="../static/stylesheets/movies.css" th:href="@{/stylesheets/movies.css}" type="text/css">

    <title>MyCinema | Movies</title>

</head>

<body>

<div class="layout">
    <div class="l-left">
        <a class="toggle-menu topm1" href="#"><i class="material-icons">menu</i></a>
        <a class="logo-menu" href="home">My Cinema</a>
        <div class="menu">
            <a class="menu-item" href="home">
                <img alt="" class="ico" src="../static/icons/icon_home-1.svg">
                Home
            </a>
            <a class="menu-item" href="statistics">
                <img alt="" class="ico" src="../static/icons/icon_dashboard-1.svg">
                Statistics
            </a>
            <a class="menu-item active" href="movies">
                <img alt="" class="ico" src="../static/icons/icon_products-1.svg">
                Movies
            </a>
            <a class="menu-item" href="cinema-rooms">
                <img alt="" class="ico" src="../static/icons/icon_Invoices-1.svg">
                Cinema Rooms
            </a>
            <a class="menu-item" href="program">
                <img alt="" class="ico" src="../static/icons/icon_calendar-1.svg">
                Program
            </a>
            <a class="menu-item" href="settings">
                <img alt="" class="ico" src="../static/icons/icon_setting.svg">
                Settings
            </a>
        </div>
    </div>
    <div class="l-right">
        <div class="top-bar">
            <form action="" class="left">
                <a class="toggle-menu topm2" href="#"><i class="material-icons">menu</i></a>
                <img alt="" class="icon" src="../static/icons/icon_search.svg">
                <input id="input_search" placeholder="Search" type="text">
            </form>
            <div class="right">
                <img alt="" class="notif-ico" src="../static/icons/icon_notification.svg">
                <a class="user-menu" href="Settings.html">
                    John Doe
                    <img alt="" class="arrow" src="../static/icons/icon_down-arrow-small.svg">

                </a>
            </div>
        </div>
        <div class="body-main">
            <p id="movies-title">Movies</p>
            <div class="movies-body">
                <th:block th:each="movie:${listOfMovies}">
                    <form action="#" method="post" th:action="@{/program(day=0,idMovie=${movie.id})}">
                        <div class="movies-data-show">
                            <div class="movie-name">
                                <p th:text="${movie.title}"> Title</p>
                            </div>
                            <div class="movie-price">
                                <p th:text="${movie.price}">Price</p>
                            </div>
                            <div class="movie-book-now">
                                <button class="movie-button-book-now" type="submit">Book now</button>
                            </div>
                        </div>
                    </form>
                </th:block>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../static/script.js"></script>

</body>
</html>