<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/stylesheets/program.css}" type="text/css">

    <title>MyCinema | Program</title>
</head>
<body>
<div class="layout">
    <div th:replace="common.html :: left(${5})"></div>
    <div class="l-right">
        <div th:replace="common.html :: div.top-bar"></div>
        <div class="body-main">
            <h1 id="program-title">Program</h1>
            <div class="programs">
                <div class="buttons-top">
                    <form action="#" method="post" th:action="@{/program(day=0, idMovie=${param.idMovie})}">
                        <button class="button-day" type="submit">Monday</button>
                    </form>
                    <form action="#" method="post" th:action="@{/program(day=1, idMovie=${param.idMovie})}">

                        <button class="button-day" type="submit">Tuesday</button>
                    </form>

                    <form action="#" method="post" th:action="@{/program(day=2, idMovie=${param.idMovie})}">
                        <button class="button-day" type="submit">Wednesday</button>
                    </form>

                    <form action="#" method="post" th:action="@{/program(day=3, idMovie=${param.idMovie})}">
                        <button class="button-day" type="submit">Thursday</button>
                    </form>
                    <form action="#" method="post" th:action="@{/program(day=4, idMovie=${param.idMovie})}">
                        <button class="button-day" type="submit">Friday</button>
                    </form>

                    <form action="#" method="post" th:action="@{/program(day=5, idMovie=${param.idMovie})}">
                        <button class="button-day" type="submit">Saturday</button>
                    </form>

                    <form action="#" method="post" th:action="@{/program(day=6, idMovie=${param.idMovie})}">
                        <button class="button-day" type="submit">Sunday</button>
                    </form>

                </div>
                <div class="headers-table">
                    <p id="header-movie">Movie</p>
                    <p id="header-hours">Screening Hours</p>
                </div>
                <th:block th:each="movie:${movieList}">
                    <div class="table-row">
                        <div class="column-left">
                            <div class="information-play"></div>
                            <p th:text="${movie.getTitle()}">Movie</p>
                        </div>
                        <div class="column-right">
                            <th:block th:each="hour:${movie.getScren().get(0)}">
                                <form action="#" method="post"
                                      th:action="@{/reservationPlace(idMovie=${movie.id},day=${day},time=${hour})}">
                                    <button class="button-hour" th:text="${hour}" type="submit">hour</button>
                                </form>
                            </th:block>

                        </div>
                    </div>

                </th:block>
            </div>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../static/script.js"></script>
</body>
</html>