<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MyCinema</title>
    <link rel="stylesheet" th:href="@{/stylesheets/Login.css}">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>


<body>

<div class="image-container"></div>

<div class="flex-white-container"></div>
<div class="white-contanier">

    <div class="title-container"> My Cinema</div>
    <div class="subtitle-container">Reset account.</div>
    <div class="login-container">

        <form action="#" id="myform" name="myform" th:object="${reset}" method="post" th:action="@{/goToHome}" autocomplete="off" >
            <div id="feedback"></div>
            <input id="username" placeholder="Password" required th:field="*{password}" type="password" autocomplete="false"/>
            <input id="password" placeholder="Confirm Password" required th:field="*{passwordConfirm}" autocomplete="false" type="password">

            <div class="checkbox-forgpass-container">
                <a class="forgot-password-container" href="/Login"> Back to login</a>


            </div>

            <div class="button-container">
                <input class="button" id="btn-login" type="submit" value="Reset">

            </div>

        </form>

    </div>


</div>
<div class="flex-white-container"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</body>
</html>