<!DOCTYPE html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/stylesheets/myCinemaSettings.css}" type="text/css">

    <title>Settings</title>


</head>

<body>
<div class="layout">
    <div th:replace="common.html :: left(${6})"></div>


    <div class="l-right">
        <div th:replace="common.html :: div.top-bar"></div>
        <div class="container">

            <div class="settingsContainer">
                <h1 class="Title">Settings</h1>
                <div class="settings">
                    <div class="settingsLeftSide">
                        <div class="image-details">
                            <div class="image-part">
                                <img alt="" class="profile" th:src="@{/images/john-doe.png}">
                                <div class="bgPen"><img alt="" class="editProfile" th:src="@{/icons/icon_edit.svg}">
                                </div>
                            </div>
                            <div class="nameContainerProfile">

                            </div>
                            <div class="name">
                                <h3 th:each="u: ${#httpServletRequest.getCookies()}" th:if="${u.getName().equals('user')}" th:text="${u.getValue()}"></h3>
                                <p>User type</p>
                            </div>
                            <div class="editPenName">
                                <img alt="" class="editName" th:src="@{/icons/icon_edit.svg}">
                            </div>
                        </div>
                        <div class="details-part">
                            <div class="details">
                                <h5>First Name</h5>
                                <p th:text="${details.get(2)}"></p>
                            </div>

                            <div class="details">
                                <h5>Last Name</h5>
                                <p th:text="${details.get(1)}"></p>
                            </div>

                            <div class="details">
                                <h5>E-Mail</h5>
                                <p th:text="${details.get(3)}"></p>
                            </div>

                            <div class="details">
                                <h5>Profile Data</h5>
                                <p>Regular 18pt</p>
                            </div>

                        </div>

                    </div>
                    <div class="settingsRightSide">
                        <form action="" class="settingsForm">
                            <div class="field">
                                <input class="formField" name="FName" onsubmit="return checkforblank()"
                                       placeholder="Enter your first name" required type="text">
                                <label name="settings" th:text="${details.get(2)}"></label>
                            </div>

                            <div class="field">
                                <input class="formField" name="LName" placeholder="Enter your last name" required
                                       type="text">
                                <label name="settings" th:text="${details.get(1)}"></label>
                            </div>

                            <div class="field">
                                <input class="formField" name="email" placeholder="Enter your email address"
                                       required type="email">
                                <label name="settings" th:text="${details.get(3)}"></label>
                            </div>

                            <div class="field">
                                <input class="formField" name="phone" placeholder="Enter your phone number"
                                       required type="text">
                                <label name="settings">No Phone Number</label>
                            </div>

                            <div class="field">
                                <input class="formField" name="settings" placeholder="Placeholder" required
                                       type="text">
                                <label name="settings">Label</label>
                            </div>

                            <div class="field">
                                <input class="formField" name="settings" placeholder="Placeholder" required
                                       type="text">
                                <label name="settings">Label</label>
                            </div>
                        </form>
                        <div class="form-buttons-container">
                            <button class="discardBtn" type="button">Discard</button>
                            <button class="saveBtn" disabled type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/scripts/scriptSettings.js}"></script>
</body>

</html>