<!DOCTYPE html>
<html lang="en" xmlns="" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,500,600,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/stylesheets/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/stylesheets/myCinemaSettings.css}" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/comm.css}">

    <title>My Cinema | Settings</title>


</head>

<body>
<div class="layout">
    <div th:replace="common.html :: left(${6}, ${user})"></div>


    <div class="l-right">
        <div th:replace="common.html :: top(${user})"></div>
        <div class="container">

            <div class="settingsContainer">
                <h1 class="Title">Settings</h1>
                <div class="alert alert-danger" th:each="message : ${errorMessages}" th:text="${message}"></div>
                <div class="alert alert-success" th:each="message : ${successfulMessages}" th:text="${message}"></div>
                <div class="settings">
                    <div class="settingsLeftSide">
                        <div class="image-details">
                            <div class="image-part">
                                <img src="" alt="" class="profile changeAvatar"
                                     th:src="@{${user.getAvatarImagePath()}}">
                                <div class="bgPen"><img src="" alt="" class="editProfile changeAvatar"
                                                        th:src="@{/icons/icon_edit.svg}">
                                </div>
                                <form th:action="@{/changeAvatar}" enctype="multipart/form-data" method="post">
                                    <input type="file" id="image-avatar" name="imageFile" accept="image/*"
                                           style="display: none;" onchange="this.form.submit()"/>
                                </form>
                            </div>
                            <div class="nameContainerProfile">

                            </div>
                            <div class="name">
                                <h3 th:each="u: ${#httpServletRequest.getCookies()}"
                                    th:if="${u.getName().equals('user')}" th:text="${u.getValue()}"></h3>
                                <p th:text="${user.getUserType()}"></p>
                            </div>
                        </div>
                        <div class="details-part">
                            <div class="details">
                                <h5>First Name</h5>
                                <p th:text="${user.getFirstName()}"></p>
                            </div>

                            <div class="details">
                                <h5>Last Name</h5>
                                <p th:text="${user.getLastName()}"></p>
                            </div>

                            <div class="details">
                                <h5>E-Mail</h5>
                                <p th:text="${user.getEmail()}"></p>
                            </div>

                            <div class="details">
                                <h5>Phone number</h5>
                                <p th:text="${user.getPhoneNumber()}"></p>
                            </div>

                        </div>

                    </div>
                    <div class="settingsRightSide">
                        <form class="settingsForm" th:action="@{/changeInformation}"
                              method="post">
                            <div class="field">
                                <input class="formField" id="FName" placeholder="Enter your first name"
                                       type="text" th:name="firstName">
                                <label th:text="${user.getFirstName()}"></label>
                            </div>

                            <div class="field">
                                <input class="formField" id="LName" placeholder="Enter your last name"
                                       type="text" th:name="lastName">
                                <label th:text="${user.getLastName()}"></label>
                            </div>

                            <div class="field">
                                <input class="formField" id="Email" placeholder="Enter your email address"
                                       type="email" th:name="email">
                                <label th:text="${user.getEmail()}"></label>
                            </div>

                            <div class="field">
                                <input class="formField" id="phone" placeholder="Enter your phone number"
                                       type="text" th:name="phoneNumber">
                                <label th:text="${user.getPhoneNumber()}"></label>
                            </div>
                            <div class="form-buttons-container">
                                <button class="discardBtn" type="button">Discard</button>
                                <button class="saveBtn" type="submit" id="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/scripts/scriptSettings.js}"></script>
<script th:src="@{/scripts/settings.js}" async></script>
<script th:src="@{/scripts/alert.js}"></script>
<script th:src="@{/scripts/buttonAccount.js}"></script>
</body>

</html>