@font-face{
  font-family: SansPro-Bold;
  src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
}

@font-face{
  font-family: SansPro-Regular;
  src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face{
  font-family: SansPro-Semibold;
  src: url("../fonts/SourceSansPro-Semibold.otf") format("opentype");
}

body{
    
    width:100%;
    height:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    position:absolute;
    background-color:white;
    display:flex;
    margin:0;
    
}

.image-container{
    
    width:40%;
    background-image: url(../images/back.png);
    left:0;
    height:100vh;
    position:relative;
    
    
}

.title-container{
    font-family:SansPro-Bold;
    width:50vh;
    padding-top:20vh;
    font-size:35px;
    text-align:center;
    color: #43425D;
    letter-spacing: 5px;
    cursor:default;
}

.subtitle-container{
    
    font-family:SansPro-Regular;
    width:50vh;
    font-size:18px;
    color:#43425D;
    opacity:0.7;
    text-align:center;
    padding-top:5px;
    padding-bottom:30px;
    cursor:default;
}

.white-container{
    
    width: 60%;
    display:inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    position:relative
}


.flex-white-container{
    
   width:20%;
   background-color:white;
}

.login-container{
    width: 50vh;
    height: 35vh;
    font-family:SansPro-Semibold;
    padding:5px;
    background:white;
   
}


input{
  font-family:SansPro-Semibold;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(67,66,93,0.5);
  
}



input[type=checkbox]{
    
    border-color: #43425d;
    align-items: flex-start;
    width:auto;
    border-radius:2000px;
    border-width: 0 20px 20px 0;

}

label{
     padding-left:5px;
     margin-bottom:0px;
     padding-top:5px;
     font-size:14px;
     cursor:pointer;
}

.checkbox-container{
    
    position:relative;
    padding-top:10px;
    align-items:flex-start;
    display:flex;
    padding-left:5px;
    bottom:0;
    color: #43425d;
    width:50%;
}

.forgot-password-container{
    position:relative;
    padding-top:15px;
    text-align:right;
    font-size:14px;
    cursor:pointer;
    color: #43425d;
    width:50%;
    margin-bottom:0;
}

.forgot-password-container:hover{
    
    opacity:0.7;
        
}

.checkbox-forgpass-container{
    width:100%;
    display:flex;
}


.button{
    
  font-family:SansPro-Regular;
  width: 40%;
  height: auto;
  padding-top:1vh;
  padding-bottom:1vh;
  border:1px solid;
  box-sizing: border-box;
  border-radius:4px;
  background-color:  #43425D;
  color: white;
  text-align:center;
  margin-left:2vh;
  margin-right:2vh;
  cursor:pointer;
 
}


.button:hover{
    
    
   background-color:  white;
   color: #43425D;
   
   border-color:#43425D;
   
   cursor:pointer;
}




.button-container{
    width:100%;
    display:flex;
    padding-top:4vh;
    justify-content: center;
    align-items: center;
    
}