:root {
    --color-prim: #43425d;
    /* --color-sec: #3c3b54; */
    --color-sec: #a3a0fb;
    --color-bg1: #f0f0f7;

    --darken-1: rgba(0, 0, 0, 0.2);
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
.layout {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    min-height: 100vh;
}
.layout .l-left {
    flex-basis: 220px;
    background: var(--color-prim);
    color: #333;
    position: relative;
}
.layout .l-right {
    flex: 1;
    background: var(--color-bg1);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
}

.layout .toggle-menu {
    display: none;
}
.l-left .toggle-menu.topm1 {
    display: none;
    position: absolute;
    top: 15px;
    right: 14px;
    color: white;
    z-index: 5;
}
.l-right .toggle-menu.topm2 {
    display: none;
    color: #aaa;
    margin-bottom: -8px;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 9px;
}

@media(max-width: 600px) {
    .layout .l-left {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 2;
        min-height: 100vh;
        transition: .3s all;
    }
    .l-left.on {
        left: 0;
    }
    .toggle-menu {
        display: inline-block!important;
    }
}

.l-left .logo-menu {
    display: block;
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
    padding: 0 20px;
    position: relative;
    height: 55px;
    line-height: 55px;
    font-size: 15px;
    font-weight: bold;
    background: var(--darken-1);
}
.l-left .menu {
    display: block;
}
.l-left .menu .menu-item {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.9);
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    border-left: 5px solid transparent;
    margin-top: 2px;
}

.l-left .menu .menu-item:hover,
.l-left .menu .menu-item.active {
    background: var(--darken-1);
    border-left-color: var(--color-sec);
}

.l-left .menu .menu-item img.ico {
    height: 14px;
    vertical-align: baseline;
    margin-bottom: -2px;
    margin-right: 6px;
}

.l-right .top-bar {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background: white;
    flex-basis: 55px;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0 0 2px 1px rgba(150, 150, 150, 0.2);
}

.l-right .top-bar form.left {
    display: block;
    padding: 14px;
    flex: 1;
}

.l-right .top-bar form.left #input_search {
    display: inline-block;
    border: none;
    outline: none;
    height: calc(55px - 2*14px);
    font-size: 14px;
    font-weight: 600;
    margin-left: 7px;
    width: 80%;
}

.l-right .top-bar .right {
    padding: 15px;
}

.l-right .top-bar .right .notif-ico {
    vertical-align: bottom;
    height: 22px;
    margin-bottom: 2px;
}

.l-right .top-bar .right .user-menu {
    vertical-align: bottom;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px;
    padding-left: 15px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
}
.l-right .top-bar .right .user-menu .arrow {
    margin: 0 5px;
    margin-left: 12px;
}


.l-right .main {
    padding: 20px 50px;
    overflow-y: auto;
}


.card {
    box-shadow: 0 0 3px 0 rgba(150, 150, 150, 0.2);
    border-radius: 0;
    border: none;
}

.main h2.title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main h3.title {
    font-weight: 600;
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 8px;
}
