.add-movie-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-movie-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 260px;
    justify-content: center;
}

.add-movie-form input {
    width: 100%;
}

.add-movie-form p {
    margin: 0 0 5px 0;
    font-size: 20px;
    text-align: center;
}

.buttons-movie
{
    color: white;
    background-color: #3381ff;
    border-radius: 5px;
    padding: 10px 40px;
    border: none;
    font-size: 13px;
    margin: 10px;
}