.room-view {
    text-align: left;
}
.room-view .room-view-table {
    margin: auto;
}
.room-view-table .chair {
    width: 33px;
    height: 33px;
    margin: 4px;
    background: #3c85fd;
    border-radius: 5px;
}
.room-view-table .chair.free {
    background: #3c85fd;
    cursor: pointer;
}
.room-view-table .chair.booked {
    background: #968c8d;
}
.room-view-table .chair.sold {
    background: #ff6567;
}
.room-view-table .screen-row {
    /* padding-top: 10px; */
    padding-bottom: 20px;
    text-align: center;
}
.room-view-table .screen-row .screen-el {
    background: #e2e2e2;
    color: #333;
    font-weight: bold;
    padding: 3px;
}

.chair {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin: 1px 3px 3px 3px;
    border-radius: 5px;
}

.room-view-legend {
    display: flex;
    flex-direction: row;
    float: left;
    vertical-align: middle;
    margin: 1px 3px 3px 3px;
    border-radius: 5px;
}

.room-view-legend .chair.free {
    background: #3c85fd;
}
.room-view-legend .chair.booked {
    background: #968c8d;
}
.room-view-legend .chair.sold {
    background: #ff6567;
}

.information-text {
    text-align: center;
    margin: 10px 0 10px 0;
    width: 100%;
}

.buttons-right {
    display: flex;
    flex-direction: row;
    float: right;
}

.book-now-button, .pay-now-button {
    color: white;
    background-color: #3381ff;
    border-radius: 5px;
    padding: 10px 40px;
    border: none;
    font-size: 13px;
}

.pay-now-button{
    margin-left:2px;
    margin-right: 50px;
}

.book-now-button:disabled, .pay-now-button:disabled {
    background-color: #5C9AFF;
}

.book-now-button:active, .pay-now-button:active {
    background-color: #0062ff;
}

.information-text
{
    color: red;
}

.buttonPlace{
    background-color: white;
    border: none;
}

.buttonPlace {

    background: white;

    box-shadow: 0px 0px 0px transparent;

    border: 0px solid transparent;

    text-shadow: 0px 0px 0px transparent;

}



.buttonPlace:hover {

    background: white;

    box-shadow: 0px 0px 0px transparent;

    border: 0px solid transparent;

    text-shadow: 0px 0px 0px transparent;

}